@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "roboto";
  padding: 5px;
  box-sizing: border-box;
}

.img_brand {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

nav {
  display: flex;
}
a,
a:visited {
  color: #000;
  text-decoration: none;
  font-size: x-large;
  font-weight: bolder;
}
ul a {
  color: blue;
}

.card {
  display: flex;
  margin: 20px;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 20px;
  padding: 20px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

ul {
  margin-left: 30px;
}
.card div {
  margin-right: 10px;
}

img {
  max-width: 100%;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}
